openapi: 3.0.4
info:
    title: Microsoft Graph REST API
    description: Microsoft Graph REST API
    version: v1.0
servers:
    - url: https://graph.microsoft.com/v1.0
paths:
    /security/incidents:
        description: Provides operations to manage the incidents property of the microsoft.graph.security entity.
        get:
            tags:
                - security.incident
            summary: List incidents
            description: "Get a list of incident objects that Microsoft 365 Defender created to track attacks in an organization. Attacks are typically inflicted on different types of entities, such as devices, users, and mailboxes, resulting in multiple alert objects. Microsoft 365 Defender correlates alerts with the same attack techniques or the same attacker into an incident. This operation allows you to filter and sort through incidents to create an informed cyber security response. It exposes a collection of incidents that were flagged in your network, within the time range you specified in your environment retention policy. The most recent incidents are displayed at the top of the list."
            operationId: security.ListIncidents
            parameters:
                - $ref: "#/components/parameters/top"
                - $ref: "#/components/parameters/skip"
                - $ref: "#/components/parameters/search"
                - $ref: "#/components/parameters/filter"
                - $ref: "#/components/parameters/count"
                - name: $orderby
                  in: query
                  description: Order items by property values
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
                - name: $select
                  in: query
                  description: Select properties to be returned
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
                - name: $expand
                  in: query
                  description: Expand related entities
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
            responses:
                2XX:
                    $ref: "#/components/responses/microsoft.graph.security.incidentCollectionResponse"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
            x-ms-pageable:
                nextLinkName: "@odata.nextLink"
                operationName: listMore
            x-ms-docs-operation-type: operation
        post:
            tags:
                - security.incident
            summary: Create new navigation property to incidents for security
            operationId: security.CreateIncidents
            requestBody:
                description: New navigation property
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/microsoft.graph.security.incident"
                required: true
            responses:
                2XX:
                    description: Created navigation property.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/microsoft.graph.security.incident"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
            x-ms-docs-operation-type: operation
    "/security/incidents/{incident-id}":
        description: Provides operations to manage the incidents property of the microsoft.graph.security entity.
        get:
            tags:
                - security.incident
            summary: Get incident
            description: "Retrieve the properties and relationships of an incident object. Attacks are typically inflicted on different types of entities, such as devices, users, and mailboxes, resulting in multiple alert objects. Microsoft 365 Defender correlates alerts with the same attack techniques or the same attacker into an incident."
            operationId: security.GetIncidents
            parameters:
                - name: $select
                  in: query
                  description: Select properties to be returned
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
                - name: $expand
                  in: query
                  description: Expand related entities
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
            responses:
                2XX:
                    description: Retrieved navigation property
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/microsoft.graph.security.incident"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
            x-ms-docs-operation-type: operation
        patch:
            tags:
                - security.incident
            summary: Update incident
            description: Update the properties of an incident object.
            operationId: security.UpdateIncidents
            requestBody:
                description: New navigation property values
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/microsoft.graph.security.incident"
                required: true
            responses:
                2XX:
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/microsoft.graph.security.incident"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
            x-ms-docs-operation-type: operation
        delete:
            tags:
                - security.incident
            summary: Delete navigation property incidents for security
            operationId: security.DeleteIncidents
            parameters:
                - name: If-Match
                  in: header
                  description: ETag
                  schema:
                      type: string
            responses:
                "204":
                    description: Success
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
            x-ms-docs-operation-type: operation
        parameters:
            - name: incident-id
              in: path
              description: The unique identifier of incident
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: incident
    "/security/incidents/{incident-id}/alerts":
        description: Provides operations to manage the alerts property of the microsoft.graph.security.incident entity.
        get:
            tags:
                - security.incident
            summary: Get alerts from security
            description: The list of related alerts. Supports $expand.
            operationId: security.incidents.ListAlerts
            parameters:
                - $ref: "#/components/parameters/top"
                - $ref: "#/components/parameters/skip"
                - $ref: "#/components/parameters/search"
                - $ref: "#/components/parameters/filter"
                - $ref: "#/components/parameters/count"
                - name: $orderby
                  in: query
                  description: Order items by property values
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
                - name: $select
                  in: query
                  description: Select properties to be returned
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
                - name: $expand
                  in: query
                  description: Expand related entities
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
            responses:
                2XX:
                    $ref: "#/components/responses/microsoft.graph.security.alertCollectionResponse"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
            x-ms-pageable:
                nextLinkName: "@odata.nextLink"
                operationName: listMore
            x-ms-docs-operation-type: operation
        parameters:
            - name: incident-id
              in: path
              description: The unique identifier of incident
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: incident
    "/security/incidents/{incident-id}/alerts/{alert-id}":
        description: Provides operations to manage the alerts property of the microsoft.graph.security.incident entity.
        get:
            tags:
                - security.incident
            summary: Get alerts from security
            description: The list of related alerts. Supports $expand.
            operationId: security.incidents.GetAlerts
            parameters:
                - name: $select
                  in: query
                  description: Select properties to be returned
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
                - name: $expand
                  in: query
                  description: Expand related entities
                  style: form
                  explode: false
                  schema:
                      uniqueItems: true
                      type: array
                      items:
                          type: string
            responses:
                2XX:
                    description: Retrieved navigation property
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/microsoft.graph.security.alert"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
            x-ms-docs-operation-type: operation
        parameters:
            - name: incident-id
              in: path
              description: The unique identifier of incident
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: incident
            - name: alert-id
              in: path
              description: The unique identifier of alert
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: alert
    "/security/incidents/{incident-id}/alerts/{alert-id}/comments":
        post:
            tags:
                - security.incident
            summary: Sets a new value for the collection of alertComment.
            operationId: security.incidents.alerts.SetComments
            parameters:
                - name: If-Match
                  in: header
                  description: ETag
                  schema:
                      type: string
            requestBody:
                description: New property values
                content:
                    application/json:
                        schema:
                            type: array
                            items:
                                $ref: "#/components/schemas/microsoft.graph.security.alertComment"
                required: true
            responses:
                2XX:
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/microsoft.graph.security.alertComment"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
        parameters:
            - name: incident-id
              in: path
              description: The unique identifier of incident
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: incident
            - name: alert-id
              in: path
              description: The unique identifier of alert
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: alert
    "/security/incidents/{incident-id}/alerts/{alert-id}/comments/$count":
        description: Provides operations to count the resources in the collection.
        get:
            tags:
                - security.incident
            summary: Get the number of the resource
            operationId: security.incidents.alerts.Comments.GetCount-ee8f
            parameters:
                - $ref: "#/components/parameters/search"
                - $ref: "#/components/parameters/filter"
            responses:
                2XX:
                    $ref: "#/components/responses/ODataCountResponse"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
        parameters:
            - name: incident-id
              in: path
              description: The unique identifier of incident
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: incident
            - name: alert-id
              in: path
              description: The unique identifier of alert
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: alert
    "/security/incidents/{incident-id}/alerts/$count":
        description: Provides operations to count the resources in the collection.
        get:
            tags:
                - security.incident
            summary: Get the number of the resource
            operationId: security.incidents.alerts.GetCount-d6ba
            parameters:
                - $ref: "#/components/parameters/search"
                - $ref: "#/components/parameters/filter"
            responses:
                2XX:
                    $ref: "#/components/responses/ODataCountResponse"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"
        parameters:
            - name: incident-id
              in: path
              description: The unique identifier of incident
              required: true
              schema:
                  type: string
              x-ms-docs-key-type: incident
    /security/incidents/$count:
        description: Provides operations to count the resources in the collection.
        get:
            tags:
                - security.incident
            summary: Get the number of the resource
            operationId: security.incidents.GetCount-9725
            parameters:
                - $ref: "#/components/parameters/search"
                - $ref: "#/components/parameters/filter"
            responses:
                2XX:
                    $ref: "#/components/responses/ODataCountResponse"
                4XX:
                    $ref: "#/components/responses/error"
                5XX:
                    $ref: "#/components/responses/error"

components:
    schemas:
        microsoft.graph.security.incidentCollectionResponse:
            title: Collection of incident
            type: object
            properties:
                "@odata.count":
                    type: integer
                    format: int64
                    nullable: true
                "@odata.nextLink":
                    type: string
                    nullable: true
                value:
                    type: array
                    items:
                        $ref: "#/components/schemas/microsoft.graph.security.incident"
        microsoft.graph.security.alertCollectionResponse:
            title: Collection of alert
            type: object
            properties:
                "@odata.count":
                    type: integer
                    format: int64
                    nullable: true
                "@odata.nextLink":
                    type: string
                    nullable: true
                value:
                    type: array
                    items:
                        $ref: "#/components/schemas/microsoft.graph.security.alert"

        microsoft.graph.security.alert:
            title: alert
            required:
                - "@odata.type"
            type: object
            properties:
                actorDisplayName:
                    type: string
                    description: The adversary or activity group that is associated with this alert.
                    nullable: true
                additionalData:
                    type: string
                    description: "Additional alert properties as JSON string"
                    nullable: true
                alertPolicyId:
                    type: string
                    description: "The ID of the policy that generated the alert, and populated when there is a specific policy that generated the alert, whether configured by a customer or a built-in policy."
                    nullable: true
                alertWebUrl:
                    type: string
                    description: URL for the Microsoft 365 Defender portal alert page.
                    nullable: true
                assignedTo:
                    type: string
                    description: "Owner of the alert, or null if no owner is assigned."
                    nullable: true
                category:
                    type: string
                    description: The attack kill-chain category that the alert belongs to. Aligned with the MITRE ATT&CK framework.
                    nullable: true
                classification:
                    type: string
                    enum: [unknown, falsePositive, truePositive, informationalExpectedActivity, unknownFutureValue]
                    nullable: true
                createdDateTime:
                    type: string
                    description: Time when Microsoft 365 Defender created the alert.
                    format: date-time
                    nullable: true
                description:
                    type: string
                    description: String value describing each alert.
                    nullable: true
                detectionSource:
                    type: string
                    description: "Detection technology or sensor that identified the notable component or activity. Possible values are: unknown, microsoftDefenderForEndpoint, antivirus, smartScreen, customTi, microsoftDefenderForOffice365, automatedInvestigation, microsoftThreatExperts, customDetection, microsoftDefenderForIdentity, cloudAppSecurity, microsoft365Defender, azureAdIdentityProtection, manual, microsoftDataLossPrevention, appGovernancePolicy, appGovernanceDetection, unknownFutureValue, microsoftDefenderForCloud, microsoftDefenderForIoT, microsoftDefenderForServers, microsoftDefenderForStorage, microsoftDefenderForDNS, microsoftDefenderForDatabases, microsoftDefenderForContainers, microsoftDefenderForNetwork, microsoftDefenderForAppService, microsoftDefenderForKeyVault, microsoftDefenderForResourceManager, microsoftDefenderForApiManagement, microsoftSentinel, nrtAlerts, scheduledAlerts, microsoftDefenderThreatIntelligenceAnalytics, builtInMl, microsoftThreatIntelligence, microsoftDefenderForAIServices, securityCopilot. Use the Prefer: include-unknown-enum-members request header to get the following values in this evolvable enum: microsoftDefenderForCloud, microsoftDefenderForIoT, microsoftDefenderForServers, microsoftDefenderForStorage, microsoftDefenderForDNS, microsoftDefenderForDatabases, microsoftDefenderForContainers, microsoftDefenderForNetwork, microsoftDefenderForAppService, microsoftDefenderForKeyVault, microsoftDefenderForResourceManager, microsoftDefenderForApiManagement, microsoftSentinel, nrtAlerts, scheduledAlerts, microsoftDefenderThreatIntelligenceAnalytics, builtInMl, microsoftThreatIntelligence, microsoftDefenderForAIServices, securityCopilot."
                detectorId:
                    type: string
                    description: The ID of the detector that triggered the alert.
                    nullable: true
                determination:
                    type: string
                    nullable: true
                    description: "Specifies the result of the investigation, whether the alert represents a true attack and if so, the nature of the attack. Possible values are: unknown, apt, malware, securityPersonnel, securityTesting, unwantedSoftware, other, multiStagedAttack, compromisedAccount, phishing, maliciousUserActivity, notMalicious, notEnoughDataToValidate, confirmedUserActivity, lineOfBusinessApplication, unknownFutureValue."
                evidence:
                    type: array
                    description: Collection of evidence related to the alert.
                firstActivityDateTime:
                    type: string
                    description: The earliest activity associated with the alert.
                    format: date-time
                    nullable: true
                incidentId:
                    type: string
                    description: Unique identifier to represent the incident this alert resource is associated with.
                    nullable: true
                incidentWebUrl:
                    type: string
                    description: URL for the incident page in the Microsoft 365 Defender portal.
                    nullable: true
                lastActivityDateTime:
                    type: string
                    description: The oldest activity associated with the alert.
                    format: date-time
                    nullable: true
                lastUpdateDateTime:
                    type: string
                    description: Time when the alert was last updated at Microsoft 365 Defender.
                    format: date-time
                    nullable: true
                mitreTechniques:
                    type: array
                    items:
                        type: string
                        nullable: true
                    description: "The attack techniques, as aligned with the MITRE ATT&CK framework."
                productName:
                    type: string
                    description: The name of the product which published this alert.
                    nullable: true
                providerAlertId:
                    type: string
                    description: The ID of the alert as it appears in the security provider product that generated the alert.
                    nullable: true
                recommendedActions:
                    type: string
                    description: Recommended response and remediation actions to take in the event this alert was generated.
                    nullable: true
                resolvedDateTime:
                    type: string
                    description: Time when the alert was resolved.
                    format: date-time
                    nullable: true
                serviceSource:
                    $ref: "#/components/schemas/microsoft.graph.security.serviceSource"
                severity:
                    $ref: "#/components/schemas/microsoft.graph.security.alertSeverity"
                status:
                    $ref: "#/components/schemas/microsoft.graph.security.alertStatus"
                systemTags:
                    type: array
                    items:
                        type: string
                        nullable: true
                    description: The system tags associated with the alert.
                tenantId:
                    type: string
                    description: The Microsoft Entra tenant the alert was created in.
                    nullable: true
                threatDisplayName:
                    type: string
                    description: The threat associated with this alert.
                    nullable: true
                threatFamilyName:
                    type: string
                    description: Threat family associated with this alert.
                    nullable: true
                title:
                    type: string
                    description: Brief identifying string value describing the alert.
                    nullable: true
                "@odata.type":
                    type: string
            x-ms-discriminator-value: "#microsoft.graph.security.alert"
        microsoft.graph.security.incident:
            title: incident
            required:
                - "@odata.type"
            type: object
            properties:
                assignedTo:
                    type: string
                    description: "Owner of the incident, or null if no owner is assigned. Free editable text."
                    nullable: true
                classification:
                    type: string
                    enum: [unknown, falsePositive, truePositive, informationalExpectedActivity, unknownFutureValue]
                    nullable: true
                    description: "The specification for the incident. Possible values are: unknown, falsePositive, truePositive, informationalExpectedActivity, unknownFutureValue."
                createdDateTime:
                    type: string
                    description: Time when the incident was first created.
                    format: date-time
                customTags:
                    type: array
                    items:
                        type: string
                        nullable: true
                    description: Array of custom tags associated with an incident.
                description:
                    type: string
                    description: Description of the incident.
                    nullable: true
                determination:
                    type: string
                    enum: [unknown, apt, malware, securityPersonnel, securityTesting, unwantedSoftware, other, multiStagedAttack, compromisedUser, phishing, maliciousUserActivity, clean, insufficientData, confirmedUserActivity, lineOfBusinessApplication, unknownFutureValue]
                    nullable: true
                    description: "Specifies the determination of the incident. Possible values are: unknown, apt, malware, securityPersonnel, securityTesting, unwantedSoftware, other, multiStagedAttack, compromisedUser, phishing, maliciousUserActivity, clean, insufficientData, confirmedUserActivity, lineOfBusinessApplication, unknownFutureValue."
                displayName:
                    type: string
                    description: The incident name.
                    nullable: true
                incidentWebUrl:
                    type: string
                    description: The URL for the incident page in the Microsoft 365 Defender portal.
                    nullable: true
                lastModifiedBy:
                    type: string
                    description: The identity that last modified the incident.
                    nullable: true
                lastUpdateDateTime:
                    type: string
                    description: Time when the incident was last updated.
                    format: date-time
                redirectIncidentId:
                    type: string
                    description: "Only populated in case an incident is grouped with another incident, as part of the logic that processes incidents. In such a case, the status property is redirected."
                    nullable: true
                resolvingComment:
                    type: string
                    description: User input that explains the resolution of the incident and the classification choice. This property contains free editable text.
                    nullable: true
                severity:
                    $ref: "#/components/schemas/microsoft.graph.security.alertSeverity"
                status:
                    $ref: "#/components/schemas/microsoft.graph.security.incidentStatus"
                summary:
                    type: string
                    description: "The overview of an attack. When applicable, the summary contains details of what occurred, impacted assets, and the type of attack."
                    nullable: true
                systemTags:
                    type: array
                    items:
                        type: string
                        nullable: true
                    description: The system tags associated with the incident.
                tenantId:
                    type: string
                    description: The Microsoft Entra tenant in which the alert was created.
                    nullable: true
                alerts:
                    type: array
                    description: The list of related alerts.
                    x-ms-navigationProperty: true
                "@odata.type":
                    type: string
            x-ms-discriminator-value: "#microsoft.graph.security.incident"
        microsoft.graph.security.alertClassification:
            title: alertClassification
            enum:
                - unknown
                - falsePositive
                - truePositive
                - informationalExpectedActivity
                - unknownFutureValue
            type: string
        microsoft.graph.security.alertDetermination:
            title: alertDetermination
            enum:
                - unknown
                - apt
                - malware
                - securityPersonnel
                - securityTesting
                - unwantedSoftware
                - other
                - multiStagedAttack
                - compromisedAccount
                - phishing
                - maliciousUserActivity
                - notMalicious
                - notEnoughDataToValidate
                - confirmedActivity
                - lineOfBusinessApplication
                - unknownFutureValue
            type: string
        microsoft.graph.security.alertStatus:
            title: alertStatus
            enum:
                - unknown
                - new
                - inProgress
                - resolved
                - unknownFutureValue
            type: string
        microsoft.graph.security.detectionSource:
            title: detectionSource
            enum:
                - unknown
                - microsoftDefenderForEndpoint
                - antivirus
                - smartScreen
                - customTi
                - microsoftDefenderForOffice365
                - automatedInvestigation
                - microsoftThreatExperts
                - customDetection
                - microsoftDefenderForIdentity
                - cloudAppSecurity
                - microsoft365Defender
                - azureAdIdentityProtection
                - manual
                - microsoftDataLossPrevention
                - appGovernancePolicy
                - appGovernanceDetection
                - unknownFutureValue
                - microsoftDefenderForCloud
                - microsoftDefenderForIoT
                - microsoftDefenderForServers
                - microsoftDefenderForStorage
                - microsoftDefenderForDNS
                - microsoftDefenderForDatabases
                - microsoftDefenderForContainers
                - microsoftDefenderForNetwork
                - microsoftDefenderForAppService
                - microsoftDefenderForKeyVault
                - microsoftDefenderForResourceManager
                - microsoftDefenderForApiManagement
                - nrtAlerts
                - scheduledAlerts
                - microsoftDefenderThreatIntelligenceAnalytics
                - builtInMl
                - microsoftInsiderRiskManagement
                - microsoftThreatIntelligence
                - microsoftSentinel
            type: string
        microsoft.graph.security.incidentStatus:
            title: incidentStatus
            enum:
                - active
                - resolved
                - inProgress
                - redirected
                - unknownFutureValue
                - awaitingAction
            type: string
        microsoft.graph.security.alertSeverity:
            title: alertSeverity
            enum:
                - unknown
                - informational
                - low
                - medium
                - high
                - unknownFutureValue
            type: string
        microsoft.graph.security.serviceSource:
            title: serviceSource
            enum:
                - unknown
                - microsoftDefenderForEndpoint
                - microsoftDefenderForIdentity
                - microsoftDefenderForCloudApps
                - microsoftDefenderForOffice365
                - microsoft365Defender
                - azureAdIdentityProtection
                - microsoftAppGovernance
                - dataLossPrevention
                - unknownFutureValue
                - microsoftDefenderForCloud
                - microsoftSentinel
                - microsoftInsiderRiskManagement
                - microsoftThreatIntelligence
            type: string
        microsoft.graph.security.alertComment:
            title: alertComment
            required:
                - "@odata.type"
            type: object
            properties:
                comment:
                    type: string
                    description: The comment text.
                    nullable: true
                createdByDisplayName:
                    type: string
                    description: The person or app name that submitted the comment.
                    nullable: true
                createdDateTime:
                    type: string
                    description: The time when the comment was submitted.
                    format: date-time
                "@odata.type":
                    type: string
        microsoft.graph.ODataErrors.ODataError:
            required:
                - error
            type: object
            properties:
                error:
                    $ref: "#/components/schemas/microsoft.graph.ODataErrors.MainError"
        microsoft.graph.ODataErrors.MainError:
            required:
                - code
                - message
            type: object
            properties:
                code:
                    type: string
                message:
                    type: string
                    x-ms-primary-error-message: true
                target:
                    type: string
                    nullable: true
                details:
                    type: array
                    items:
                        $ref: "#/components/schemas/microsoft.graph.ODataErrors.ErrorDetails"
                innerError:
                    $ref: "#/components/schemas/microsoft.graph.ODataErrors.InnerError"
        microsoft.graph.ODataErrors.ErrorDetails:
            required:
                - code
                - message
            type: object
            properties:
                code:
                    type: string
                message:
                    type: string
                target:
                    type: string
                    nullable: true
        microsoft.graph.ODataErrors.InnerError:
            title: InnerError
            required:
                - "@odata.type"
            type: object
            properties:
                request-id:
                    type: string
                    description: Request Id as tracked internally by the service
                    nullable: true
                client-request-id:
                    type: string
                    description: Client request Id as sent by the client application.
                    nullable: true
                date:
                    pattern: "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$"
                    type: string
                    description: Date when the error occured.
                    format: date-time
                    nullable: true
                "@odata.type":
                    type: string
        ODataCountResponse:
            type: integer
            format: int32

    responses:
        error:
            description: error
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/microsoft.graph.ODataErrors.ODataError"
        ODataCountResponse:
            description: The count of the resource
            content:
                text/plain:
                    schema:
                        $ref: "#/components/schemas/ODataCountResponse"
        microsoft.graph.security.incidentCollectionResponse:
            description: Retrieved collection
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/microsoft.graph.security.incidentCollectionResponse"
        microsoft.graph.security.alertCollectionResponse:
            description: Collection of alert
            content:
                application/json:
                    schema:
                        $ref: "#/components/schemas/microsoft.graph.security.alertCollectionResponse"

    parameters:
        top:
            name: $top
            in: query
            description: Show only the first n items
            style: form
            explode: false
            schema:
                minimum: 0
                type: integer
            example: 50
        skip:
            name: $skip
            in: query
            description: Skip the first n items
            style: form
            explode: false
            schema:
                minimum: 0
                type: integer
        count:
            name: $count
            in: query
            description: Include count of items
            style: form
            explode: false
            schema:
                type: boolean
        filter:
            name: $filter
            in: query
            description: Filter items by property values
            style: form
            explode: false
            schema:
                type: string
        search:
            name: $search
            in: query
            description: Search items by search phrases
            style: form
            explode: false
            schema:
                type: string
